.grid-section-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 15px 15px; 
    grid-template-areas: 
      "first-space first-space seconde-space seconde-space"
      "first-space first-space thir-space fourth-space"; 
  }
  .grid-section-container .seconde-space { grid-area: seconde-space; }
  .grid-section-container .first-space { grid-area: first-space; }
  .grid-section-container .thir-space { grid-area: thir-space; }
  .grid-section-container .fourth-space { grid-area: fourth-space; }

  .grid-section-container a {
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    flex: 1 1 100%;
    margin: 0;
    border-radius: 5px;
    text-decoration-color: #FFF;
}
 
.img-grid-section {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
.img-grid-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
}
.grid-section-container > div:hover img {
    transform: scale(1.2);
}

.text-grid-container {
    padding: 3em 1.5em 1em 1.5em;
    color: #FFF;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.4);
}
.text-grid-container h3 {
    font-size: 1.7em;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.4em;
}

/* SECTION 1 */
.first-space .text-grid-container {
    padding: 3em 1em 1em 1.5em;
    min-height: 50vh;
}
.first-space .text-grid-container h3 {
    font-size: clamp(20px, 3em, 50px);
}
.icon-top-right-grid {
    position: absolute;
    right: 2em;
    top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-top-right-grid p{
    font-size: 13px;
}







/* RESPONSIVE */
/* 13 POUCES */

/* 13 POUCES */
@media (max-width: 1280px) {

}

@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {


}

@media (max-width: 992px) {

}

/* IPAD */
@media (max-width: 768px) {

}

/* MOBILE */
@media (max-width: 576px) {
  


.grid-section-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
        "first-space"
        "seconde-space"
        "thir-space"
        "fourth-space";
}
  .first-space { grid-area: first-space; }
  .seconde-space { grid-area: seconde-space; }
  .thir-space { grid-area: thir-space; }
  .fourth-space { grid-area: fourth-space; }  

  .first-space .text-grid-container {
    padding: 3em 1em 1em 1.5em;
    min-height: auto;
    }
.first-space .text-grid-container h3 {
    font-size: 1.4em;
}
.first-space .text-grid-container {
    padding: 1em;
    min-height: auto;
}
.text-grid-container {
    padding: 1em;
}
.icon-top-right-grid p {
    display: none;
}
.icon-top-right-grid {
    right: 1em;
    top: auto;
    bottom: 1em;
}

}

